<html>
    <head>
        <title>Login</title>
         <style>
body {
            background-image: url("assets/img/hero-bg.jpg");
            background-size: cover;
            padding: 90px;
            border-bottom:2px solid transparent; }
form { width: 300px;
        height: 50;
        margin: 0 auto;
        background-repeat: no-repeat;
        /* background:rgba(0, 0, 0, 0.15); */
        height: 85%;
        min-height: 80%;
        top: 0;
        left: 0;
        z-index: 99;
        text-align: center;
        text-transform: capitalize;
        border-bottom:2px solid transparent;
        padding-top: 0%;
        padding :0cm;
        -o-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -ms-transition: all .2s;
    }
p.form-title {

        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        color: #0e0d0d;
        margin-top: 5%;
        text-transform: uppercase;
        letter-spacing: 1px;}
input
  {
    width: 300px;
    height: 20px;
    margin-top: 1px;
    padding: 15px;
    background: #000000;
    background: rgba(189, 129, 80, 0.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 1px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition: all .1s;
    -ms-transition: all .1s;
    position: relative;

  }
.wrap {
    width: 70%;
    height: 80%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    text-align:left;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.66);
    border-bottom: 2px solid transparent;
    padding-top: 0%;
    padding: 0cm;
}

form.user input[type="email"], form.user input[type="password"]
{
    width:300px;
    height:42px;
    margin-top:25px;
    padding:0 15px;
    background:#2d2d2d;
    background:rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    text-align:center;
    border-radius:6px;
    border:1px solid #3d3d3d;
    border:1px solid rgba(255,255,255,.15);
    -moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size:16px;
    color:#fff;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;

}
    </style>
        </head>
            <body>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="wrap">
                                    <h1 style="color: rgb(255, 255, 255);" class="h4 text-gray-900 mb-4">&nbsp;&nbsp;&nbsp;&nbsp;<img  src="assets/img/0.png">&nbsp;&nbsp;</h1>
                                
                                <form class="user" #f="ngForm" (ngSubmit)="loginadmin(f)" >
                                    <div class="form-group">
                                        <input  type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter votre email" name="email" #email="ngModel" ngModel >
                                    </div>
                                    <div class="form-group">
                                        <input  type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Entrer votre password" name="password" #password="ngModel" ngModel>
                                    </div>
                                     <div class="alert alert-danger" *ngIf="messageAuthError">
                                        {{messageAuthError}}
                                    </div> 
                                     <button style="  background-color: black;
                                    width: 100%;
                                    border: 0;
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    font-weight: 200;
                                    margin-top: 10px;
                                    outline: 0;
                                    
                                    cursor: pointer;
                                    letter-spacing: 1px;
                                    transition: background-color 0.5s ease;" href="#" class="btn btn-primary btn-user btn-block">
                                        Se connecter
                                    </button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
    </body>
</html> 