<form >
    <!-- firstName validation start here -->
        <div class="form-group">
          <label for="exampleFormControlInput1">Id</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="id">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nom</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Prenom</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="prenom">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Date de naissance</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="datenaiss">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="email">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Telephone</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="telephone">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Poids</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="poids">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Role</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="role">
        </div>
        <button class="btn btn-primary" >Ajout utilisateur</button>

</form>